.main-img {
  width: 100%;
  height: 400px;
  /* object-fit: contain; */
}
.img {
  width:100%;
  height: 120px;
  cursor: pointer;
  transition: all .3s ease;
  opacity: .7;
  /* object-fit: contain; */
}
@media (max-width: 991px) {
  .main-img {
    height: 400px;
    }
  .img {
    height: 100px;
  }
}
@media (max-width: 767px) {
  .main-img {
    height: 320px;
  }
  .img {
    height: 90px;
  }
}

.active {
  transform: scale(1.1);
  border: 2px solid var(--main-color);
  opacity: 1;

}

