
.counter {
  width: 100%;
  padding: 5px;
  border: 1px solid rgb(207, 207, 207);
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
.counter:focus {
  outline: none;
}
.quantity{
  width: 150px;
}
.quantity span:first-child {
  left: 0;

}
.quantity span:last-child {
  right: 0;
}
.btns {
  padding: 5px 8px;
  border: 1px solid rgb(207, 207, 207);
  cursor: pointer;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  user-select: none;
}


.btns svg {
  fill: var(--black-color);
  font-size: 21px;
  transition:all .3s ease;
}
.btns:hover svg {
  fill: var(--main-color);
}
.actions {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 5px;
}
.actions button {
  background-color: #f6f6f6;
    border-radius: 0;
    border: 1px solid rgb(207, 207, 207);
  transition: .3s ease ;
}
.actions .cart {
  border: none;
  padding: 12px 25px;
  color: #fff;
  background-color: var(--black-color);
  display: flex;
  align-items: center;
  transition: all .3s ease;
}

.actions button:hover {
  background-color: var(--main-color);
}
.actions button.active {
  background-color: var(--main-color) !important;
  
}
.actions button.active svg {
  fill: #fff;
}
.tooltip {
  width: 50px;
  height: 50px;
  text-align: center;
  border: 1px solid #dadce0;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: transparent; */
  border-radius: 0;
}
.tooltip svg {
  font-size: 20px;
  fill: var(--black-color);
}
.actions button:hover svg {
  fill: #fff;
}
.stock {
  width: fit-content;
  color: var(--main-color);
  border-color: var(--main-color) !important;
}